.hero {
  position: relative;
  border-bottom: 2px solid $color-main;
  .projects-link {
    text-align: center;
    // display: flex;
    // flex-direction: column;
    .projects {
      display: inline-block;
      width: auto;
      padding: 5px 10px 7px;
      margin-bottom: 10px;
      transition: 0.2s all ease-in-out;
    }
    .pointer {
      display: inline-block;
      width: auto;
      font-size: 40px;
      line-height: 1;
      transition: 0.2s all ease-in-out;
    }
    &:hover {
      background-color: transparent;
    }
    &:hover .projects {
      text-decoration: none;
      color: #fff;
      background-color: $color-main;
    }
    &:hover .pointer {
      color: $color-main;
      background-color: transparent;
      transform: translateY(10px);
    }
  }
}
.hero-heading {
  font-size: 40px;
  line-height: 40px;
}
.hero-wrapper {
  position: relative;
  z-index: 9;
}

.automata-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.cell-row {
  opacity: 0;
  transition: 0.2s all ease-in-out;
  &.show {
    opacity: 1;
  }
  .true {
    background-color: rgba($color-main, 0.05);
  }
}

.icon {
  fill: $color-main;
  width: 25px;
  height: 25px;
}
.social {
  margin: 20px 0 16px;
  li {
    margin: 0 8px;
  }
  a {
    padding: 4px 4px 2px;
    &:hover .icon {
      fill: #fff;
    }
  }
}

.automata-selector {
  margin: 4px 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  * {
    font-size: 12px;
    line-height: 1;
  }
  a {
    position: relative;
    padding: 2px 4px;
    margin-left: 20px;
    &.active:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: $color-main;
    }
  }
}