@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');

$px: 0.0625rem;

$page-mxw: 1920*$px;
$header-ht: 100*$px;
$short-header-ht: 70*$px;

// FONTS
$font-main: 'Space Mono', Arial, Helvetica, sans-serif;

// COLORS
$color-main: #0f1bff;

// FONT SIZING
$fz-xxl: 42px;
$fz-xl: 36px;
$fz-lg: 32px;
$fz-md: 28px;
$fz-sm: 24px;
$fz-xs: 20px;
$fz-xxs: 16px;

$fz:
  'xxl' $fz-xxl,
  'xl' $fz-xl,
  'lg' $fz-lg,
  'md' $fz-md,
  'sm' $fz-sm,
  'xs' $fz-xs,
  'xxs' $fz-xxs
;
@each $i in $fz {
  .fz-#{nth($i, 1)} {
    font-size: nth($i, 2) !important;
    line-height: nth($i, 2) + 8px !important;
  }
}

// BREAKPOINTS
$vpw-xl: 1200px;
$vpw-lg: 992px;
$vpw-md: 768px;
$vpw-sm: 576px;
$vpw-xs: 400px;

$vpw-nav: $vpw-lg;
$mxw-nav: '(max-width: #{$vpw-nav - 1px})';

// MEDIA QUERIES
$mxw-xl: '(max-width: #{$vpw-xl - 1px})';
$mxw-lg: '(max-width: #{$vpw-lg - 1px})';
$mxw-md: '(max-width: #{$vpw-md - 1px})';
$mxw-sm: '(max-width: #{$vpw-sm - 1px})';
$mxw-xs: '(max-width: #{$vpw-xs - 1px})';

$mnw-xs: '(min-width: #{$vpw-xs})';
$mnw-sm: '(min-width: #{$vpw-sm})';
$mnw-md: '(min-width: #{$vpw-md})';
$mnw-lg: '(min-width: #{$vpw-lg})';
$mnw-xl: '(min-width: #{$vpw-xl})';