@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');

$page-mxw: 1920px;
$header-ht: 90px;
$header-ht-mobile: $header-ht;
$header-ht-sticky: 50px;
$link-px: 10px;
$project-p: 20px;
$project-p-sm: 14px;
$project-trans-dur: 0.2s;
$mob-project-offset: 54px;

// FONTS
$font-main: 'Space Mono', Arial, Helvetica, sans-serif;

// COLORS
$color-main: #0f1bff;

// BREAKPOINTS
$vpw-xl: 1200px;
$vpw-lg: 992px;
$vpw-md: 768px;
$vpw-sm: 576px;
$vpw-xs: 420px;
$vpw-xxs: 370px;
$vpw-nav: $vpw-md;

// MEDIA QUERIES
$mxw-xl: '(max-width: #{$vpw-xl - 1px})';
$mxw-lg: '(max-width: #{$vpw-lg - 1px})';
$mxw-md: '(max-width: #{$vpw-md - 1px})';
$mxw-sm: '(max-width: #{$vpw-sm - 1px})';
$mxw-xs: '(max-width: #{$vpw-xs - 1px})';
$mxw-xxs: '(max-width: #{$vpw-xxs - 1px})';

$mnw-xxs: '(min-width: #{$vpw-xxs})';
$mnw-xs: '(min-width: #{$vpw-xs})';
$mnw-sm: '(min-width: #{$vpw-sm})';
$mnw-md: '(min-width: #{$vpw-md})';
$mnw-lg: '(min-width: #{$vpw-lg})';
$mnw-xl: '(min-width: #{$vpw-xl})';

$mxw-nav: '(max-width: #{$vpw-nav - 1px})';
$mnw-nav: '(min-width: #{$vpw-nav})';